{% extends "layout.html" %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <H3>All Products</H3>
      
      <hr>

      {% for name, price in prices.items() %}
        <div class="card-content">{{ name }}: {{ price }}</div>
      {% endfor %}

      <hr>

      <div class="card-content">Total: {{ prices_total }}</div>
    </div>
  </div>
  <br />

  {% for name, total in group_prices.items() %}
  <div class="card">
    <div class="card-body">
      <H4>{{ name }}</H4>
      <hr>
      <div class="card-content">Total: {{ total }}</div>
    </div>
  </div>
  <br />
  {% endfor %}
{% endblock content %}