{% extends "layout.html" %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <H3>All Products</H3>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Current Price</th>
            <th scope="col">Lowest Price</th>
            <th scope="col">Threshold</th>
          </tr>
        </thead>
        <tbody>

          {% for product in prices %}
          <tr class="table-{% if product['price'] < product['threshold'] %}success{% else %}default{% endif %}">
            <th scope="row">{{ product['name'] }}</th>
            <td>{{ product['price'] }}</td>
            <td>{{ product['lowest'] }}</td>
            <td>{{ product['threshold'] }}</td>
          </tr>
          {% endfor %}
          <tr class="table-{% if prices_total['price'] < prices_total['threshold'] %}success{% else %}default{% endif %}">
            <th scope="row">Total</th>
            <td>{{ prices_total['price'] }}</td>
            <td>{{ prices_total['lowest'] }}</td>
            <td>{{ prices_total['threshold'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <br />
  
  <div class="card">
    <div class="card-body">
      <H3>Groups</H3>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Current Price</th>
            <th scope="col">Lowest Price</th>
            <th scope="col">Threshold</th>
          </tr>
        </thead>
        <tbody>

          {% for group in groups %}
          <tr class="table-{% if group['price'] < group['threshold'] %}success{% else %}default{% endif %}">
            <th scope="row">{{ group['name'] }}</th>
            <td>{{ group['price'] }}</td>
            <td>{{ group['lowest'] }}</td>
            <td>{{ group['threshold'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}